.bg{
    background: rgb(229,174,238);
    background: radial-gradient(circle, rgba(229,174,238,1) 0%, rgba(148,231,233,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-btn{

}